@value makerGrey,makerWhite,makerLightGrey,makerBlack,makerPink from '../../common/colors.css';

.like {
  float: right;
  color: makerGrey;
  padding-right: 0.3rem;
  color: makerPink;
}

.number {
  padding-left: 0.3em;
  color: makerBlack;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
}
.img:hover {
  opacity: 0.4;
}

.img__btn {
  position: absolute;
}
.imgArea {
  width: 95%;
  height: 260px;
  position: relative;
}

.desc {
  padding: 0.8rem;
}
.title {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.desc__text {
  padding-left: 0.5rem;
  color: makerBlack;
  font-size: 0.9rem;
}
.detail {
  margin-top: 0.2rem;
  padding: 0.2rem;
  color: makerGrey;
}
.noimage {
  background-color: makerLightGrey;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exclamation {
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .imgArea {
    height: 180px;
  }
}

@media screen and (max-width: 500px) {
  .imgArea {
    height: 200px;
  }
}
