@value makerGrey,makerWhite,makerLightGrey,makerBlack,makerPink,makerLightPink from '../../common/colors.css';

.like {
  float: right;
  color: makerGrey;
  padding-right: 0.3rem;
  color: makerLightPink;
}

.number {
  padding-left: 0.3em;
  color: makerBlack;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
  transition-duration: 1s;
}
.img:hover {
  opacity: 0.6;
}

.btn__area {
  position: absolute;
  top: 185px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 75px;
  text-align: right;
  background: rgb(193, 193, 193);
  background: linear-gradient(
    180deg,
    rgba(163, 163, 163, 0.1) 0%,
    rgba(153, 153, 153, 0.18) 5%,
    rgba(143, 143, 143, 0.25) 11%,
    rgba(113, 113, 113, 0.3) 16%,
    rgba(93, 93, 93, 0.35) 21%,
    rgba(83, 83, 83, 0.4) 26%,
    rgba(78, 78, 78, 0.45) 31%,
    rgba(68, 68, 68, 0.48) 36%,
    rgba(58, 58, 58, 0.5) 41%,
    rgba(36, 36, 36, 0.55) 61%,
    rgba(21, 21, 21, 0.58) 71%,
    rgba(0, 0, 0, 0.6) 100%
  );
  transition-delay: 2s;
}
.btn__area button {
  width: 35px;
  height: 35px;
  color: makerGrey;
  border-radius: 7px;
  border: 0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 30px;
}
.imgArea {
  width: 95%;
  height: 260px;
  position: relative;
}

.desc {
  padding: 0.8rem;
}
.title {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.desc__text {
  padding-left: 0.5rem;
  color: makerBlack;
  font-size: 0.9rem;
}
.detail {
  margin-top: 0.2rem;
  padding: 0.2rem;
  color: makerGrey;
}
.noimage {
  background-color: makerLightGrey;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exclamation {
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .imgArea {
    height: 180px;
  }
  .btn__area {
    top: 135px;
  }
}

@media screen and (max-width: 500px) {
  .imgArea {
    height: 200px;
  }
  .btn__area {
    top: 155px;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 1s;
}
