@value makerWhite,makerLightGrey,makerGrey,makerLightRed from '../../common/colors.css';

.section {
  background-color: makerWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  overflow-y: scroll;
}
.header {
  height: 50px;
  display: flex;
  align-items: center;
}
.travel {
  width: 50rem;
  margin: 5rem auto;
}
.list {
  list-style-type: none;
}
.schedule {
  text-align: left;
  padding-left: 1rem;
}

.textArea {
  width: 50%;
}
.photo {
  margin-top: 2rem;
  width: 100%;
  min-height: 20rem;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.icon {
  color: makerGrey;
  margin-right: 1rem;
}
.title__icon {
  color: makerLightRed;
  margin-right: 0.5rem;
}
.title {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.close__icon {
  color: makerWhite;
  margin-right: 10px;
  margin-bottom: 3px;
}

.sense {
  text-align: left;
  margin-top: 1rem;
  padding: 0 1rem;
}
