@value makerWhite,makerLightGrey,makerGrey,makerLightRed,makerLightBlue from '../../common/colors.css';

.section {
  background-color: makerWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  overflow-y: scroll;
}
.header {
  height: 50px;
  display: flex;
  align-items: center;
}
.travel {
  width: 50rem;
  min-width: 30rem;
  min-height: 56rem;
  margin: 5rem auto;
}
.list {
  list-style-type: none;
}
.schedule {
  text-align: left;
  padding-left: 1rem;
}

.textArea {
  width: 50%;
}
.photo {
  margin-top: 2rem;
  width: 100%;
  min-height: 20rem;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.title {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sense__name {
  text-align: center;
  width: 105px;
  color: makerWhite;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 10px;
  background-color: makerLightBlue;
  border-radius: 50px;
  padding: 5px 4px;
  display: inline-block;
}

.comment {
  text-align: center;
  width: 200px;
  color: makerWhite;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 10px;
  background-color: makerLightRed;
  border-radius: 50px;
  padding: 5px 4px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
}
.textarea {
  width: 80%;
  height: 100px;
  font-size: 1rem;
  outline: none;
}
.icon {
  margin-right: 10px;
}
.title__icon {
  color: makerLightRed;
  margin-right: 0.5rem;
}
.close__icon {
  color: makerWhite;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}

.sense {
  text-align: left;
  margin-top: 1rem;
  padding: 0 1rem;
}
.sense > div {
  margin-bottom: 1rem;
}

.input {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid makerGrey;
  outline: none;
  font-size: 1rem;
}

.date {
  width: 40%;
}
.buttons {
  position: fixed;
  top: 90px;
  right: 50px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.edit {
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.noImage {
  background-color: makerLightGrey;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.review {
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .travel {
    width: 40rem;
  }
}
@media screen and (max-width: 750px) {
  .travel {
    width: 30rem;
  }
}
