@value makerWhite,makerDarkBlue, makerGrey, makerBlack,makerLightBlue from '../../common/colors.css';
.header {
  height: 2rem;
  background-color: makerWhite;
  color: makerWhite;
  text-align: right;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 1rem;
  padding-top: 0.5rem;
}
.section {
  width: 60%;
  min-width: 400px;
  border-radius: 5px;
  min-width: 400px;
  margin: auto;
  margin-top: 5%;
  position: relative;
}
.form {
  background-color: makerWhite;
  text-align: left;
  padding: 2rem;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: scroll;
}
.item {
  display: flex;
}
.input {
  font-size: 0.8em;
  width: 100%;
  outline: 0;
  margin-bottom: 2.5rem;
  padding: 0.5rem 0rem;
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid makerBlack;
  font-size: 1rem;
}
.dates {
  display: flex;
}
.date {
  font-size: 0.8em;
  width: 45%;
}

.button {
  text-align: center;
}

.icon {
  margin-right: 0.5rem;
  color: makerGrey;
}
.asterisk {
  color: makerGrey;
  font-size: 0.5em;
  text-align: start;
}
.close {
  color: makerBlack;
  cursor: pointer;
}
.left,
.right {
  width: 45%;
  margin: 1rem;
}

.submit {
  background-color: makerLightBlue;
  color: makerWhite;
  border: 0;
  width: 160px;
  height: 35px;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.alert {
  position: absolute;
  top: 30%;
  left: 30%;
  background: makerWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px 1px #424242;
  font-size: 2rem;
  font-weight: 600;
  padding: 3rem 6rem;
}
.alert__icon {
  color: makerLightBlue;
  margin-bottom: 1rem;
  font-size: 4rem;
}
.alert__header {
  position: absolute;
  top: 0;
  text-align: right;
  width: 100%;
  font-size: 1.5rem;
}
@media screen and (max-width: 900px) {
  .section {
    height: 40rem;
    border-radius: 5px;
  }

  .item {
    flex-direction: column;
  }

  .left,
  .right {
    width: 90%;
    margin: 1rem;
  }
}
