@value makerWhite,makerDarkBlue, makerGrey, makerBlack,makerLightBlue from '../../common/colors.css';
.header {
  height: 2rem;
  background-color: makerWhite;
  color: makerWhite;
  text-align: right;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 1rem;
  padding-top: 0.5rem;
}
.section {
  width: 53rem;
  height: 38rem;
  border-radius: 5px;
}
.form {
  background-color: makerWhite;
  text-align: left;
  padding: 2rem;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item {
  display: flex;
}
.input {
  font-size: 0.8em;
  width: 100%;
  outline: 0;
  margin-bottom: 2.5rem;
  padding: 0.5rem 0rem;
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid makerBlack;
}
.dates {
  display: flex;
}
.date {
  font-size: 0.8em;
  width: 45%;
}

.button {
  text-align: center;
}

.icon {
  margin-right: 0.5rem;
  color: makerGrey;
}
.close {
  color: makerBlack;
  cursor: pointer;
}
.left,
.right {
  width: 45%;
  margin: 1rem;
}

.submit {
  background-color: makerLightBlue;
  color: makerWhite;
  border: 0;
  width: 160px;
  height: 35px;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
