@value makerBlack, makerLightGrey,makerWhite from '../../common/colors.css';

.searchInput {
  border: 0;
  height: 30px;
  width: 95%;

  background-color: makerWhite;
}
.searchInput:focus {
  outline: none;
}
.title {
  color: makerWhite;
  font-size: 4rem;
  padding-top: 1.5rem;
  font-weight: 650;
  z-index: 1000;
}
.input {
  position: absolute;
  width: 50%;
  height: 30px;
  min-width: 600px;
  background-color: makerWhite;
  border-radius: 10px;
}
.search {
  width: 100%;
  height: 15rem;
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e85a71;
}
.img {
  position: absolute;
  width: 300px;
  top: 3px;
  clip: rect(0 500px 180px 0px);
}
