@value makerGreen, makerBlue,makerWhite,makerLightGrey from '../../common/colors.css';

.diary {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.section {
  background-color: makerWhite;
  width: 60rem;
  margin: 1rem auto;
}

.list {
  width: 100%;
  min-width: 30rem;
  margin: 1em auto;
  padding: 0.5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.list_item {
  display: inline-block;
  margin: 0.5em;
  background-color: makerWhite;
  text-align: left;
  border-radius: 7px;
  box-shadow: 2px 2px 15px 5px #969696;
}
.plus {
  position: absolute;
  right: 300px;
  bottom: 25px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #e85a71;
  color: #d9e1e8;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
