@value makerGreen, makerBlue,makerWhite,makerLightGrey,makerLightRed from '../../common/colors.css';

.diary {
  height: 100%;
  width: 100%;
  background-color: makerWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  background-color: makerWhite;
  width: 70%;
  min-width: 320px;
}

.list {
  width: 100%;
  margin: 1em auto;
  padding: 0.5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.list_item {
  display: inline-block;
  padding: 0.5em;
  background-color: makerWhite;
  text-align: left;
  width: 25%;
  height: 15%;
}
.plus {
  position: fixed;
  right: 15%;
  bottom: 3%;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: makerLightRed;
  color: #d9e1e8;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1450px) {
  .list_item {
    width: 30%;
  }
}

@media screen and (max-width: 1100px) {
  .list_item {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .list_item {
    width: 90%;
  }
}
