@value makerGreen, makerBlue,makerWhite,makerLightGrey from '../../common/colors.css';

.diary {
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.header {
}
.section {
  background-color: makerWhite;
  width: 60rem;
  margin: 0 auto;
}

.list {
  width: 100%;
  min-width: 30rem;
  margin: 1em auto;
  padding: 0.5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.list_item {
  display: inline-block;
  margin: 0.5em;
  background-color: makerWhite;
  text-align: left;
  border-radius: 7px;
  box-shadow: 2px 2px 15px 5px #969696;
}
