@value makerBlack, makerLightGrey,makerWhite from '../../common/colors.css';

.searchInput {
  border: 0;
  height: 30px;
  width: 95%;
  background-color: makerWhite;
}
.searchInput:focus {
  outline: none;
}

.input {
  position: absolute;
  width: 50%;
  height: 30px;
  background-color: makerWhite;
  border-radius: 10px;
}
.search {
  width: 100%;
  min-width: 20rem;
  margin: 0 auto;
  height: 15rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
